name: Build

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '*.md'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4.2.2
        with:
          path: "src"

      - name: Checkout Builds Branch
        uses: actions/checkout@v4.2.2
        with:
          ref: "builds"
          path: "builds"

      - name: Clean old builds
        run: rm -f ${{ github.workspace }}/builds/*.cs3 || true

      - name: Setup JDK 17
        uses: actions/setup-java@v4.6.0
        with:
          distribution: "temurin"
          java-version: 17
          cache: "gradle"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.2

      - name: Build Plugins
        working-directory: ${{ github.workspace }}/src
        run: |
          chmod +x gradlew
          ./gradlew make makePluginsJson
          cp **/build/*.cs3 ${{ github.workspace }}/builds/
          cp build/plugins.json ${{ github.workspace }}/builds/

      - name: Push builds
        working-directory: ${{ github.workspace }}/builds
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          
          if git diff --staged --quiet; then
            echo "do not error if nothing to commit."
            exit 0
          fi
          
          git commit --amend -m "Build ${{ github.sha }}"
          git push --force
